*{margin:0; padding:0;}
img{width:; height: auto;}
#wrapper-full-site{width:80%;margin: 0 auto;padding:10px 0;}

.half-width{
    float:left;
    width:40%;
    padding:10 20px;
    margin:10px;
}

section{
    width:100%;
    margin:0 auto;
}
.trendBox{
    float:left;
    width:30%;
    overflow: hidden;
}
.trendBox img{
    width:100%;
}